/* -----

Updated by Jeff McWeeney
09/05/2024

jmcweeney@viveconcierge.next

----- */
* {
    font-family: "Manrope", Helvetica, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    /* letter-spacing: -0.0125em; */
}
body{
    padding: 8px;
    color: #003366;
    background-color: #FFFFFF;
}
#documentheader,
#documentbody,
#documentfooter{
    width: 100%;
}
#documentheader{
    border-bottom: 1px solid grey;
    margin-bottom: 1em;
}
#documentfooter{
    border-top: 1px solid grey;
    margin-top: 1em;
}
a{
    color: #003366;
    background-color: white;
}
h1{
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1em;
}
h1.title{
    text-align: left;
}
h2{
    font-size: 40px;
    font-weight: bold;
}
h3{
    font-size: 24px;
    font-weight: bold;
}
h4{
    font-size: 16px;
    font-weight: bold;
}
h5{
    font-size: 16px;
    font-weight: bold;
}
h6{
    font-size: 16px;
    font-weight: bold;
}
hr{
    width: 100%;
}
span {
    font-size: 16px; /* IE8 hack: doesn't understand inheritance */
    display: inline; /* IE8 hack: would go to next line otherwise */
}

/* ----- Tables ----- */

table{
    line-height: 1.1em;
    width: 100%;
    text-align: left;
}
thead tr, th{
    background-color: LightGrey;
}
tbody tr{
    background-color: #f2f2f2;
}
td{
    font-size: 16px; /* IE8 hack: doesn't understand inheritance */
    padding: 8px;
    vertical-align: top;
}
.table_simple{
    width: auto;
    color: inherit;
    background-color: inherit;
}
.table_simple td{
    padding: 0;
}
.table_simple td.td_label{
    font-size: 16px; /* IE8 hack: doesn't understand inheritance */
    font-weight: inherit;
    font-style: italic;
    padding-right: 16px;
}
.header_table{
    border: 1px solid #00008b;
}
.narr_table{
    width: 100%;
    margin: 8px 0;
}
.narr_tr{
    background-color: #f0f0f0;
}
.narr_th{
    background-color: LightGrey;
    font-size: 14px; /* IE8 hack: doesn't understand inheritance */
    padding: 0 8px 0 8px;
}
.narr_footnote{
    font-size: 12px;
    font-style: italic;
}
.td_label{
    font-size: 14px; /* IE8 hack: doesn't understand inheritance */
    font-weight: bold;
    background-color: LightGrey;
}
.td_label_width{
    width: 20%;
}
.span_label{
    font-size: 16px; /* IE8 hack: doesn't understand inheritance */
    font-weight: bold;
}
.span_value{
    font-size: 16px; /* IE8 hack: doesn't understand inheritance */
    font-weight: normal;
}
.revision_insert{
    text-decoration: underline overline;
}
.revision_insert_final{
}
.revision_delete{
    text-decoration: line-through;
}
.revision_delete_final{
    display: none;
}
.span_button {
    display: table-cell;
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 50px;
    -moz-border-radius: 50px;
    padding: 8px 16px;
    background-color: #f2f2f2;
    font-weight: bold;
    vertical-align: baseline;
    width: auto;
    font-size: 16px;
}
.warning-sign {
    border: 1px solid red;
    background-color: yellow;
    margin: 8px 16px;
}
div.separator {
    height: 1em;
}
div.caption {
    font-weight: bold;
    text-align: center;
}
