/* -----

Updated by Jeff McWeeney
09/05/2024

jmcweeney@viveconcierge.next

----- */
*{
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: 11px;
}
body{
    padding: 2px;
    color: #003366;
    background-color: white;
    font-size: 12px;
}
#documentheader,
#documentbody,
#documentfooter{
    width: 100%;
}
#documentheader{
    border-bottom: 1px solid grey;
    margin-bottom: 1em;
}
#documentfooter{
    border-top: 1px solid grey;
    margin-top: 1em;
}
a{
    color: #003366;
    background-color: white;
}
h1{
    font-size: 40px;
    font-weight: bold;
}
h1.title{
    text-align: center;
}
h2{
    font-size: 32px;
    font-weight: bold;
}
h3{
    font-size: 24px;
    font-weight: bold;
}
h4{
    font-size: 16px;
    font-weight: bold;
}
h5{
    font-size: 16px;
    font-weight: bold;
}
h6{
    font-size: 16px;
    font-weight: bold;
}
hr{
    width: 100%;
}
span {
    font-size: 16px; /* IE8 hack: doesn't understand inheritance */
    display: inline; /* IE8 hack: would go to next line otherwise */
}
table{
    line-height: 10pt;
    width: 100%;
}
thead tr, th{
    background-color: LightGrey;
}
tbody tr{
    background-color: #f2f2f2;
}
td{
    font-size: 16px; /* IE8 hack: doesn't understand inheritance */
    padding: 0.1cm 0.2cm;
    vertical-align: top;
}
.table_simple{
    width: auto;
    color: inherit;
    background-color: inherit;
}
.table_simple td{
    padding: 0;
}
.table_simple td.td_label{
    font-size: 16px; /* IE8 hack: doesn't understand inheritance */
    font-weight: inherit;
    font-style: italic;
    padding-right: 0.2cm;
}
.header_table{
    border: 1pt solid #00008b;
}
.narr_table{
    width: 100%;
    margin: 0.3em 0;
}
.narr_tr{
    //background-color: #ffffcc;
}
.narr_th{
    background-color: LightGrey;
    font-size: 9pt; /* IE8 hack: doesn't understand inheritance */
}
.narr_footnote{
    font-size: 8pt;
    font-style: italic;
}
.td_label{
    font-size: 9pt; /* IE8 hack: doesn't understand inheritance */
    font-weight: bold;
    background-color: LightGrey;
}
.td_label_width{
    width: 20%;
}
.span_label{
    font-size: 9pt; /* IE8 hack: doesn't understand inheritance */
    font-weight: bold;
}
.span_value{
    font-size: 9pt; /* IE8 hack: doesn't understand inheritance */
    font-weight: normal;
}
.revision_insert{
    text-decoration: underline overline;
}
.revision_insert_final{
}
.revision_delete{
    text-decoration: line-through;
}
.revision_delete_final{
    display: none;
}
.span_button {
    display: table-cell;
    cursor: pointer;
    border: 2pt inset #585858;
    border-radius: 15px;
    -moz-border-radius: 15px;
    padding: 0.1cm 0.2cm;
    background-color: #f2f2f2;
    font-weight: bold;
    vertical-align: baseline;
    width: 150px;
}
.warning-sign {
    border: 1px solid red;
    background-color: yellow;
    margin: 1em 0.5em;
}
div.separator {
    height: 1em;
}
div.caption {
    font-weight: bold;
    text-align: center;
}
