
.section-title-1 {
        font-size:64px;
        font-weight:700;
        text-transform: uppercase;
        width:500px;
        max-width:80vw;
        @include mq(450px) {
            font-size:70px;
        }
        @include mq($tablet) {
            font-size:90px;
        }
        @include mq($laptop) {
            font-size:100px;
            width:600px;
        }
    }

.text {
	line-height: 1;
	margin: var(--gradient-title-margin) 0 0 0;
	text-transform: none;
	letter-spacing: 2px;
	min-height: 200px;
	display: flex;
	align-items: flex-end;
}

.text-above {
	color: var(--font-color);
	position: relative;
}

.text-under {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.text-under-blended {
	color: #3a3a3a;
	mix-blend-mode: color-burn;
}

.text-under-overlay {
	opacity: 0.2;
	color: #3a3a3a;
}

#gradient-canvas {
     width:100%;
     height:100%;
}
