
/*
     FILE ARCHIVED ON 16:39:01 Dec 03, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:41:33 Jul 05, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 189.339
  exclusion.robots: 0.1
  exclusion.robots.policy: 0.092
  RedisCDXSource: 6.871
  esindex: 0.01
  LoadShardBlock: 165.738 (3)
  PetaboxLoader3.datanode: 173.242 (4)
  CDXLines.iter: 13.796 (3)
  load_resource: 180.934
  PetaboxLoader3.resolve: 162.263
*/